.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;

    background-color: lightcyan;
    overflow-y: auto;  
    scrollbar-width: none;  
}

.ContentContainer {
    width: 60%;
    height: 100%;

    background-color: lightblue;

    display: flex;
    flex-direction: column;

}

.TopBar {
    width:100%;

    display: flex;
    flex-direction: row;

    justify-content: left;

    margin-left: 1%;
    gap: 2%;
}

.Buttons {
    border:1px solid black;
    padding:2.5%;
    cursor: pointer;


    background-color: aliceblue;
}

.LoginContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;


    width: 100%;
    height: 100%;

}

.LoginForm {
    margin-top: 10%;

    width: 100%;


    display: flex;
    flex-direction: column;

}

.FormSection {
    width: 100%;

    margin-top: 2%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
    
}

.submitButton {
    width: 10%;
    height: 150%;
    
}
.submitContainer {
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error {
    display: flex;
    flex-direction: row;
    justify-content: center;
}